.blur-circle {
  filter: blur(250px);
}
.css-1wybm3g-Circle.using-icon{
  background: transparent !important
}
.css-1kp3mbv-TimelineMainWrapper{
  padding: 0 !important
}
.nvnv{
  backdrop-filter: blur(100px);
}

.collection1 {
  animation-name: example1;
  animation-duration: 20s;
  margin-left: -1000px;
}

@keyframes example1 {
  from {margin-left: 100px;}
  to {margin-left: -1000px;}
}
.collection2 {
  animation-name: example;
  animation-duration: 20s;

  margin-left: -100px;
}

@keyframes example {
  from {margin-left: -1500px;}
  to {margin-left: -100px;}
}

/* From css.meets.io */
.meet {
  position: relative;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
 }
 
 .meet {
  height: auto;
  width: 200px;
 }
 
 .meet .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 .meet .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 .meet .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 .meet .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #FCD377;
  border-right: 0.125rem solid #FCD377;
  transform: rotate(45deg);
 }
 
 .meet .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffff;
  font-family: 'luckiest guy', cursive;
  font-weight: 4;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 .meet .circle {
  width: 100%;
 }
 
 
 .meet:hover .button-text {
  color: #fff;
 }